<div class="@alertStyle">
	<div class="card-text p-3">
		<p>
			<span class="oi oi-pencil me-2" aria-hidden="true" style="display: inline;"></span>
	<strong>@Title</strong>
		</p>
		<p>
			<span class="text-nowrap" style="display: inline;">
		Please take our
				<a target="_blank" class="font-weight-bold" href="https://go.microsoft.com/fwlink/?linkid=2149017">brief
					survey</a>
	</span>
	and tell us what you think.
		</p>
	</div>
</div>

@code {
	// Demonstrates how a parent component can supply parameters
	[Parameter]
	public string? Title { get; set; }

	private string? alertStyle;

	protected override void OnInitialized()
	{
		base.OnInitialized();
		alertStyle = "card bg-light text-dark mt-3";
	}
}
